<p></p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ingresa el ID de un post</mat-label>
    <input matInput placeholder="Ex. 10" [formControl]="postID">
  </mat-form-field>
  <p></p>
  <button mat-button color="primary" (click)="imprimirNombre()">Clickeame!!</button>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>Creador : {{ userId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Imprimir JSON</button>
    </mat-card-actions>
  </mat-card>
  <a routerLink="/" routerLinkActive="active">Clientes Component</a>
<p></p>
<a routerLink="/pagos" routerLinkActive="active">Pagos Component</a>
<p></p>
<a routerLink="/usuarios" routerLinkActive="active">usuarios Component</a>
<p></p>
<a routerLink="/autos" routerLinkActive="active">Autos Component</a>
<router-outlet></router-outlet>